[Unit]
Description=UniJadval Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/unijadvalbot
ExecStart=/opt/unijadvalbot/venv/bin/python main.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/opt/unijadvalbot/.env

[Install]
WantedBy=multi-user.target
